<%if logged_in?%>
    <h3><%= link_to "Get HALP", new_problem_path %></h3>
<%else%>
    <h3><%= link_to "Existing Users login to get HALP", new_login_path %></h3>
    <h3><%= link_to "New Users register to get HALP", new_user_path %></h3>
<%end%>

    <h3>So many problems</h3>
<% @sorted_problems = @problems.sort_by(&:created_at) %>
<% @sorted_problems.each do |p| %>
  <% unless p.resolved %>
    <strong><%= truncate(p.description, length: 50, omission: '...?') %></strong>
    <%= link_to "HALP", problem_path(p.id) %>
    <br>
    Asked by <%= p.user.name %>
    on <%= p.created_at.to_formatted_s(format = :short) %>
    <br>
    <br>
  <% end %>
<% end %>

<p><%= link_to "Logout", login_path, method: :delete %></p>


