<% @page_title = "Signup" %>
<div class="Complete_Form">
  <h2>Sign up to share your problems on HALP</h2>
  <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
      <%= f.text_field :name, placeholder: 'Name' %><br>
      <%= f.text_field :email, placeholder: 'Email' %><br>
      <%= f.password_field :password, placeholder: 'Password' %><br>
      <%= f.password_field :password_confirmation, placeholder: 'Confirm Password' %><br>
      <%= f.button 'Sign up' %>
  <% end %>
  <% if @user.errors.any? %>
      <ul class="Signup_Errors">
      <% for message_error in @user.errors.full_messages %>
          <li>* <%= message_error %></li>
          <% end %>
      </ul>
      <% end %>
</div>
